body {
    margin: 0;
    padding: 0;
    background-color: #FFEDE7;
    color: #4B3621;
    font-family: "Didot";
    font-size: 25px;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px 40px;
    background: #742A40;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(240,239,234);
    transition: color 0.3s;
}

.nav-links a:hover {
    color: rgb(157,115,119);
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(123,57,69);
}

.intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.intro h1 {
    font-size: 75px;
    color: #4B3621;
    font-family: "Didot";
}

.neda-sym {
    width: 150px;
    height: 150px;
    color: #4B3621;
}

.intro h2 {
    font-size: 40px;
    color: #4B3621;
    font-family: "Didot";
    opacity: 75%;
}

.title {
    text-align: center;
    font-size: 70px;
    font-family: "Didot";
    margin-left: 30px;
    margin-right: 30px;
}

.links {
    color: #4B3621;
    opacity: 0.75;
    font-size: 25px;
}

.mepic {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.overview {
    line-height: 1.4;
    text-align: center;
    padding: 20px;
}

.space {
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.bigspace {
    margin-bottom: 100px;
}

.medspace {
    margin-bottom: 50px;
}

.sspace {
    margin-bottom: 15px;
}

.doubspace {
    margin-bottom: 15px;
    margin-top: 15px;
}

.links2 {
    color: #e74c3c;
}

.links3 {
    color: #4B3621;
}

p {
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    color: #4B3621;
    opacity: 0.5;
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
    font-family: "Didot";
}

.slinks {
    color: #4B3621;
    font-size: 30px;
    font-family: "Didot";
    list-style-type: none;
}

li {
    margin-left: 50px;
    margin-right: 50px;
}

.stats a {
    text-decoration: none;
    font-style: italic;
}

.mythlist {
    list-style-type: none;
}
